# Compiled Object files
*.o
*.d
temp

# Executables
*.exe
*.out
webserv

# Others
.vscode
*log
vgcore.*
.DS_Store
out

# studies
showip
server.
client
poll
pollserver

# autoindex
autoindex.html

# python - tests
*.pyc
